html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
    font-family: "gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
     		 url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    		 url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "open_sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
    		 url("../fonts/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "open_sans";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
    		 url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;

}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "open_sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.catalog-page {
	font-family: "gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: rgb(0, 0, 0);
}

.main-header {
	position: relative;
	z-index: 10;
  margin-top: 40px;
	font-size: 15px;
	line-height: 36px;
	color: #000000;
}

.main-header .container {
  background-color: #f7e296;
}

.header-row-wrapper {
	display: flex;
	margin-bottom: 23px;
	margin-left: 40px;
}

.catalog-page .main-header {
	font-family: "open_sans", "Arial", sans-serif;
	font-weight: 300;
	margin-bottom: 35px;
}

.header-logo {
	position: relative;
	top: -18px;
	display: block;
	width: 164px;
	height: 36px;
	margin-left: 40px;
	margin-bottom: 5px;
}

.header-logo img {
	opacity: 1;
}

.header-logo:hover img {
	opacity: 0.6;
}

.header-logo:active img {
	opacity: 0.3;
}

.catalog-page .header-logo {
	margin-bottom: 0;
}

.header-search {
  position: relative;
  width: 300px;
  padding-left: 40px;
  margin-right: 220px;
  font-size: 0;
}

.header-search::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 5px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.input-search,
.header-button {
	font-size: 15px;
	line-height: 36px;
}

.input-search {
	background-color: transparent;
	border: none;
}

.input-search:-ms-input-placeholder {
	opacity: 0.3;
	color: rgba(0, 0, 0, 0.3);
}

.input-search::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.input-search::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.input-search:hover:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.input-search:hover::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.input-search:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.input-search:focus:-ms-input-placeholder {
	color: rgb(0, 0, 0);
}

.input-search:focus::-ms-input-placeholder {
	color: rgb(0, 0, 0);
}

.input-search:focus::placeholder {
	color: rgb(0, 0, 0);
}

.input-search:focus {
	outline: 0;
	border-bottom: 2px solid #000000;
}

.header-button {
  padding-bottom: 1px;
	opacity: 0;
	background-color: transparent;
	border: 2px solid #000000;
  border-bottom-width: 2px;
}

.header-button:hover {
	opacity: 1;
	color: rgb(255, 255, 255);
	background-color: #000000;
	border: 2px solid #000000;
}

.header-button:active {
	opacity: 1;
	color: rgba(255, 255, 255, 0.3);
	background-color: #000000;
	border: 2px solid #000000;
}

.input-search:focus + .header-button {
	opacity: 1;
}

.user-navigation,
.site-navigation,
.catalog-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-navigation a,
.site-navigation a {
	color: rgb(0, 0, 0);
}

.user-navigation a:hover,
.site-navigation a:hover,
.navigation-element:hover {
	opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active,
.navigation-element:active {
	opacity: 0.3;
}

.user-logout .to-logout {
	color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
}

.catalog-page .user-navigation {
	margin-top: 3px;
}

.user-link {
  padding-left: 20px;
}

.to-sign-in svg {
  margin-right: 10px;
}

.to-compare svg{
	margin-right: 8px;
}

.to-basket svg {
	margin-right: 7px;
}

.user-navigation .user-login {
  margin-right: 198px;
}

.user-basket {
	margin-left: 21px;
}

.catalog-page .user-login {
	margin: 0;
}

.catalog-page .user-compare {
	margin-left: 47px;
}

.main-navigation {
	display: flex;
	margin-left: 40px;
}

.catalog-page .main-navigation {
 padding: 0;
 padding-bottom: 15px;
}

.catalog-page .nav-catalog:hover ~ .main-navigation {
  padding-bottom: 100px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
}

.navigation-element {
	min-height: 15px;
	font-family: "gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	cursor: pointer;
}

.nav-catalog {
  position: relative;
  padding-right: 35px;
  padding-bottom: 30px;
  margin-right: 290px;
}

.nav-catalog::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 5px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  cursor: pointer;
}

.catalog-menu {
	display: flex;
	position: absolute;
	left: 0;
	top: 50px;
  width: 1040px;
	height: 0;
	overflow: hidden;
}

.nav-catalog:hover .catalog-menu {
  height: auto;
  padding-bottom: 100px;
}

.video-photo-tools {
	flex-basis: 185px;
  margin: 0;
  margin-right: 60px;
  padding: 0;
  list-style: none;

}

.hand-accessories {
	flex-basis: 125px;
  margin: 0;
  margin-right: 75px;
  padding: 0;
  list-style: none;
}

.quadcopters {
	flex-basis: 113px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-element:nth-child(2) {
	margin-right: 35px;
}

.navigation-element:nth-child(3) {
	margin-right: 108px;
}


/* стилизация каталога  */
.page-title {
	margin: 0;
	margin-bottom: 13px;
	margin-left: 40px;
	padding: 0;
	font-size: 47px;
	line-height: 56px;
	font-weight: 900;
	letter-spacing: 0.6px;
}

.breadcrumbs {
	display: flex;
  flex-wrap: wrap;
	width: 440px;
	margin: 0;
	margin-bottom: 40px;
	margin-left: 40px;
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	position: relative;
	padding-right: 40px;
}

.breadcrumbs li::after {
	content: "";
	position: absolute;
	top: 15px;
	right: 18px;
	width: 4px;
	height: 7px;
	background-image: url("../img/nav-arrow.svg");
	background-repeat: no-repeat;
}

.breadcrumbs li:first-child::after {
	right: 20px;
}

.breadcrumbs li:last-child {
	padding-right: 0;
}

.breadcrumbs li:last-child::after {
	display: none;
}

.breadcrumbs-item {
	font-family: "open_sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 36px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item:not(.breadcrumbs-current):hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:not(.breadcrumbs-current):active {
	color: rgba(0, 0, 0, 0.1);
}

.catalog-columns {
  overflow-x: hidden;
  background-image: linear-gradient(to right, #efefef 50%, #ebebeb 50%, #ffffff 50%, #ffffff);
}

.catalog-columns .container{
	display: flex;
}

.section-title h2{
	margin: 0;
  padding: 25px 0;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 3.9px;
}

.filter-products {
  flex-basis: 468px;
}

.filter-products-title {
  position: relative;
  background-color: #dbdbdb;
}

.filter-products-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5000px;
  width: 5000px;
  height: 100%;
  background-color: #dbdbdb;
}

.filter-products-title h2 {
  margin-left: 40px;
}

.sort-catalog-title {
  
  margin-left: 70px;
	margin-right: 50px;
}

.sort-catalog-title::after{
  content: "";
  position: absolute;
  top: 0;
  right: -5000px;
  width: 5000px;
  height: 100%;
  background-color: #ebebeb;
}

.form-filter {
	width: 270px;
  margin-left: 40px;
  padding-top: 70px;
	background-color: #efefef;
}

.form-filter fieldset {
  margin: 0;
  padding: 0;
	border: none;
}

.filter-title {
	width: 200px;
	font-family: "gilroy", "Arial", sans-serif;
	font-weight: 900;
	border-top: 2px solid #000000;
}

.form-filter .filter-price {
	padding-bottom: 38px;
}

.filter-price .filter-title {
	margin-bottom: 28px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-filter .filter-color {
	padding-bottom: 30px;
}

.filter-color .filter-title {
	margin-bottom: 15px;
	padding-top: 8px;
}

.form-filter .filter-bluetooth {
	padding-bottom: 30px;
}

.filter-bluetooth .filter-title {
	padding-top: 8px;
	padding-bottom: 15px;
}

.filter-range {
  width: 200px;
  min-height: 30px;
}

.range-controls {
  position: relative;
}

.toggle {
  position: absolute;
  top: -10px;
  left: -5px;
  width:20px;
  height:23px;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.toggle-min {
  left: -5px;
}

.toggle-max {
  left: 108px;
}

.range-controls .scale {
  height: 2px;
  background-color: #dbdbdb;
}

.range-controls .bar {
  height: 2px;
  width: 110px;
  background-color: #91c92f;
}

.price-controls {
  position: relative;
}

.range-price {
  position: absolute;
  top: 10px;
	font-family: "gilroy", "Arial", sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.2);
}

.min-price {
  left: 0px;
}

.max-price {
  left: 90px;
}

.filter-item {
  margin: 0;
}

.filter-item label {
  position: relative;
  display: block;
  padding-left: 40px;
	font-family: "open_sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 40px;
	font-weight: 300;
	color: rgba(0, 0, 0);
  cursor: pointer;
  user-select: none;
}

.input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img./checkbox-off.svg");
  background-repeat: no-repeat;
}

.input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input:disabled + label,
.filter-input:disabled + label {
	color: #a6a6a6;
}

.input-radio + label::before {
  content: "";
  position: absolute;
	top: 7px;
  left: -1px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 4px solid #000000;
  border-radius: 50%;
}

.input-radio:checked + label::after {
  content: "";
  position: absolute;
 	top: 14px;
  left: 7px;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
}

.sort-catalog {
	position: relative;
  display: flex;
  margin-bottom: 69px;
	background-color: #ebebeb;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  width: 285px;
  margin: 0;
  margin-right: auto;
	padding: 0;
	padding: 25px 0;
	list-style: none;
}

.sort-item {
	font-family: "open_sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.3);
}

.sort-item a {
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.sort-item a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sort-item a:active {
	color: rgb(0, 0, 0);
}

.sort-current {
	color: rgb(0, 0, 0);
}

.min-max-sort {
	display: flex;
	justify-content: space-between;
	width: 60px;
	margin: 0;
	margin-left: auto;
	padding: 0;
	list-style: none;
}

.min-max-sort li {
	position: relative;
	width: 11px;
	height: 10px;
}
.max-item {
	margin-right: auto;
}

.min-item {
	margin-left: auto;
}
.max-item::before {
	content: "";
	position: absolute;
	top: 30px;
	left: 18px;
	width: 21px;
	height: 10px;
	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;
	cursor: pointer;
}

.min-item::after {
	content: "";
	position: absolute;
	top: 30px;
	right: -9px;
	width: 21px;
	height: 10px;
	background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;
	cursor: pointer;
}

.min-max-sort li::before,
.min-max-sort li::after {
	opacity: 0.2;
}

.min-max-sort li:hover::before,
.min-max-sort li:hover::after {
	opacity: 0.4;
}

.min-max-sort li:active::before,
.min-max-sort li:active::before {
	opacity: 1;
}

.min-item.active::after {
	opacity: 1;
}

.catalog-products {
  display: flex;
  flex-direction: column;
  flex-basis: 852px;
  background-color: #ffffff;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  margin: 0;
  margin-left: 70px;
  margin-right: auto;
	padding: 0;
	list-style: none;
}

.products-list li {
  width: 360px;
  margin-right: 40px;
}

.products-list li:nth-child(2n) {
  margin-right: 0px;
}

.item-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-top: 25px;
}

.item-title a {
	color: #000000;
}

.item-price {
	flex-basis: 80px;
  margin-left: auto;
	font-family: "gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	color: #464646;
}

.product-item {
	position: relative;
}

.item-hover {
	position: absolute;
	top: 180px;
	left: 80px;
	height: 0;
	overflow: hidden;
	text-align: center;
}

.product-item::before {
	content: "New";
	position: absolute;
	top: 30px;
	right: 27px;
	width: 60px;
	height: 60px;
	font-size: 14px;
	text-transform: uppercase;

	color: #d6d6d6;
	border: 2px solid #d6d6d6;
	border-radius: 50%;
}

.product-item img:hover {
	opacity: 0.7;
}

.product-item:hover .item-hover {
	height: auto;
}

.hover-link {
	font-family: "open_sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 36px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
}

.hover-link:hover {
	color: rgb(0, 0, 0);
}

.hover-link:active {
	color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
  display: flex;
  width: 760px;
	margin: 0;
	margin-right: 0;
  margin-top: 45px;
  margin-left: 73px;
	padding: 0;
	list-style: none;
	background-color: #ebebeb;
}

.pagination-list li:first-child {
  margin-right: auto;
}

.pagination-list li:last-child {
  margin-left: auto;
}

.pagination-item {
	display: block;
	padding: 25px 30px;
	font-size: 16px;
  line-height: 19px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
}

.pagination-item:hover {
	color: rgba(0, 0, 0, 0.6);
}

.pagination-item:active {
	color: rgb(0, 0, 0);
}

.item-prev,
.item-current,
.item-next {
	color: rgb(0, 0, 0);
}

.item-prev:hover,
.item-next:hover {
	color: rgb(0, 0, 0);
	background-color: #d9d9d9;
}

.item-prev:active,
.item-next:active {
	color: rgba(0, 0, 0, 0.3);
}

/* конец стилизации каталога */

.popular-products-slider .container {
	background-image: linear-gradient(to top, #ffffff, #ffffff 75%, #f7e296 75%, #f7e296);
}

.popular-products-slider {
  position: relative;
	padding-bottom: 115px;
	color: #464646;
}

.products-slides-list {
	position: relative;
  display: flex;
  min-height: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-slide {
	position: absolute;
	top: 0;
	left: 0;
  display: flex;
  width: 100%;
  min-height: 400px;
  opacity: 0;
}

.products-slides-list .slide-selfie-stick {
	opacity: 1;
}

.product-slide-picture {
  display: flex;
  margin-top: 15px;
  margin-left: 70px;
}

.slide-selfie-stick .product-slide-picture {
	width: 384px;
	height: 486px;
	margin-top: 15px;
  margin-left: 70px;
}

.slide-quadcopter .product-slide-picture {
	width: 560px;
	margin: 0;
}
/*
.product-slide-picture img {
  position: absolute;
}
.slide-selfie-stick img {
  top: -110px;
  left: -30px;
}

.slide-fitness-bracelet img {
  top: -98px;
  left: -3px;
  width: 345px;
  height: 485px;
}

.slide-quadcopter img {
	top: -45px;
  left: 12px;
  width: 526px;
  height: 334px;
}
*/
.product-slide-description {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 95px;
  margin-left: auto;
  margin-right: 40px;
}

.product-slide-description::after {
  content: "";
  position: absolute;
  top: -43px;
  left: 0;
  z-index: 1;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.first-slide::before {
  content: "01";
  position: absolute;
 	top: 1px;
  right: 143px;
  font-family: "gilroy", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 900;
  color: #ffffff;
}

.second-slide::before {
  content: "02";
  position: absolute;
  top: 1px;
  right: 143px;
  font-family: "gilroy", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 900;
  color: #ffffff;
}

.third-slide::before {
  content: "03";
  position: absolute;
  top: 1px;
  right: 143px;
  font-family: "gilroy", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 900;
  color: #ffffff;
}



.radio-list,
.slider-switches {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-switches {
  position: absolute;
  bottom: 245px;
  right: 157px;
  z-index: 1;
  text-align: center;
  font-size: 0;
}

.slider-switch {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 20px;
  vertical-align: top;
  border-radius: 50%;
  border: 1px solid #000000;
  cursor: pointer;
}

.slider-switch::after {
	content: "";
	position: absolute;
	width: 5px;
  height: 5px;
  top: 2px;
  left: 2px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
}

.product-slide-title {
  display: block;
  width: 500px;
  margin-bottom: 20px;
  font-family: "gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #000000;
}

.product-slide-description p {
  width: 460px;
  margin: 0;
  margin-bottom: 52px;
  letter-spacing: 0.1px;
}

.product-characteristics td {
	width: 155px;
	padding: 0;
  padding-bottom: 5px;
  font-family: "gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 300;
  color: #000000;
}

.slide-fitness-bracelet .product-characteristics {
	width: 160px;
}

.slide-quadcopter .product-characteristics {
  width: 320px;
}

.slide-selfie-stick td:nth-child(2) {
  width: 140px;
}

.slide-quadcopter td {
	width: 120px;
}

.product-characteristics th {
	padding: 0;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #000000;
}

.slide-selfie-stick p {
  width: 480px;
}

.slide-fitness-bracelet p {
	width: 455px;
}

.slide-fitness-bracelet .product-slide-title {
  top: -30px;
}

.slide-quadcopter .product-slide-title {
	width: 600px;
  top: -30px;
}

.slide-fitness-bracelet .product-characteristics {
  width: 160px;
}

.btn {
	display: block;
	width: 220px;
	font-family: "gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color: rgb(0, 0, 0);
	background-image: linear-gradient(to top, #ffffff, #ffffff 35%, #f0c52e 35%, #f0c52e 70%, #ffffff 70%, #ffffff);
	border: none;
	cursor: pointer;
}

.btn-slide {
  margin-bottom: 57px;
  padding-left: 5px;
  letter-spacing: 3.5px;
}

#product-1:checked ~ .products-slides-list #slide-1 {
	opacity: 1;
}

#product-2:checked ~ .products-slides-list #slide-2 {
	opacity: 1;
}

#product-3:checked ~ .products-slides-list #slide-3 {
	opacity: 1;
}

#product-1:checked ~ .slider-switches .slider-switch:nth-child(1)::after {
	border-color: #000000;
}

#product-2:checked ~ .slider-switches .slider-switch:nth-child(2)::after {
	border-color: #000000;
}

#product-3:checked ~ .slider-switches .slider-switch:nth-child(3)::after {
	border-color: #000000;
}

.catalog-page .btn-to-basket {
	background-image: none;
	background-image: linear-gradient(to top, transparent, transparent 35%, #f0c52e 35%, #f0c52e 70%, transparent 70%, transparent);
}

.btn-form {
	width: 200px;
  margin-top: 20px;
  letter-spacing: 3.6px;
	background-image: none;
	background-image: linear-gradient(to top, #efefef, #efefef 35%, #f0c52e 35%, #f0c52e 70%, #efefef 70%, #efefef);
}

.btn:hover {
	background-image: linear-gradient(to top, #f0c52e, #f0c52e);
}

.btn:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog {
  margin-bottom: 20px;
  padding-bottom: 165px;
}

.catalog .container {
  padding: 0;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item {
	width: 160px;
	margin-right: 40px;
}

.catalog-item:last-child {
	margin-right: 0;
}

.catalog-item a {
	font-family: "gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 900;
	color: #000000;
}

.picture-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
	min-height: 160px;
	margin-bottom: 32px;
	background-color: #f7e296;
}

.item-bottom img {
  align-self: flex-end;
}

.picture-item:hover {
  background-color: #f0c52e;
}

.item-title {
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 900;
  letter-spacing: 0.2px;
}

.catalog-item:active img,
.catalog-item:active .item-title {
	opacity: 0.3;
}

.services-radio-list,
.services-slider-switches,
.services-slides-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.our-services-slider {
  margin-bottom: 95px;
  padding-bottom: 90px;
	background-color: #e5e5e5;
}

.our-services-slider .container {
	display: flex;
}

.services-slider-switches {
  position: relative;
  top: -20px;
  left: -20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 285px;
}

.services-switch {
	width: 160px;
  margin-bottom: 40px;
  padding-left: 7px;
	font-family: "gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: 900;
	text-align: center;
	letter-spacing: 4px;
	background-image: none;
	background-image: linear-gradient(to top, transparent, transparent 35%, #f0c52e 35%, #f0c52e 70%, transparent 70%, transparent);
}

.services-slider-switches::after {
	content: "";
	position: absolute;
	top: -80px;
	right: 0;
	width: 7px;
	height: 319px;
	background-color: #000000;
}

.services-btn-1:checked ~ .services-slider-switches label[for="services-btn-1"],
.services-slider-switches .active {
  width: 280px;
  margin: 0;
  padding: 9px 10px;
  padding-left: 20px;
  text-align: left;
  color: #f7e184;
  letter-spacing: 4px;
  background-image: none;
  background-color: #000000;
}

.services-btn-1:checked + label,
.services-slider-switches .active + label {
  margin-top: 35px;
}

.services-slides-list {
  display: flex;
  flex-direction: column;
  margin-left: 95px;
}

.services-slide:not(:nth-child(2)) {
  display: none;
}

.services-slide {
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	width: 460px;
}

.slide-delivery::after {
	content: "";
	position: absolute;
	top: -15px;
	right: -235px;
	width: 136px;
	height: 164px;
	background-image: url("../img/delivery.svg");
	background-repeat: no-repeat;
}

.slide-guarantee::after {
	content: "";
	position: absolute;
	top: -38px;
  right: -255px;
	width: 171px;
	height: 195px;
	background-image: url("../img/warranty.svg");
	background-repeat: no-repeat;
}

.slide-credit .services-slide-description {
	width: 435px;
}

.slide-credit::after {
	content: "";
	position: absolute;
	top: -38px;
  right: -231px;
	width: 156px;
	height: 188px;
	background-image: url("../img/credit.svg");
	background-repeat: no-repeat;
}

.services-slide-title {
	position: absolute;
  top: -34px;
  left: 2px;
  letter-spacing: 1px;
}


.slide-credit .services-slide-title {
	top: -33px;
}

.services-slide-title,
.info-title {
	margin: 0;
	font-family: "gilroy", "Arial", sans-serif;
	font-size: 47px;
	line-height: 61px;
	font-weight: 900;
	color: #000000;
}

.services-slide-description {
	margin: 0;
	margin-top: 52px;
	letter-spacing: 0.3px;
}

.slide-credit .services-slide-description {
	margin-bottom: 55px;
}

.brands {
  padding-bottom: 95px;
}

.brands .container {
  padding: 0;
}

.brands-list {
	display: flex;
	margin: 0;
  margin-left: auto;
	padding: 0;
	list-style: none;
}

.brand-link {
  width: 260px;
  height: 100px;
}
.brand-link {
  margin-right: 40px;
}

.brand-link:last-child {
  margin-right: 0;
}

.brand-link a:hover img{
  opacity: 0;
}

.link-dji:hover{
	background-image: url("../img/link-1-hover.png");
	background-repeat: no-repeat;
}

.link-gadgets:hover{
	background-image: url("../img/link-2-hover.png");
	background-repeat: no-repeat;
}

.link-gopro:hover{
	background-image: url("../img/link-3-hover.png");
	background-repeat: no-repeat;
}

.link-vive:hover{
	background-image: url("../img/link-4-hover.png");
	background-repeat: no-repeat;
}

.company-info .container {
	display: flex;
	justify-content: space-between;
  padding: 0;

}

.info-about-us {
	width: 475px;
}

.info-contacts {
	max-width: 560px;
}

.info-title {
  position: relative;
	margin: 0;
  margin-top: 40px;
	margin-bottom: 37px;
}

.info-title::before {
  content: "";
  position: absolute;
  top: -45px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
  background-repeat: no-repeat;
}

.info-about-us .info-text:first-of-type {
  width: 460px;
}

.info-text {
	margin: 0;
  margin-bottom: 30px;
}

.transport-companies {
	margin: 0;
  margin-top: 65px;
  margin-bottom: 65px;
  padding: 0;
  list-style: none;
}

.transport-item {
	position: relative;
  padding-left: 35px;
  font-family: "gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 900;
  letter-spacing: 0.2px;
  color: #000000;
}

.transport-item::before {
	content: "";
  position: absolute;
  top: 15px;
  left: 2px;
  width: 8px;
  height: 8px;
  background-color: #fbfbfb;
  border: 2px solid #e6e6e6;
  border-radius: 50%
}

.info-map {
	display: block;
	margin-top: 40px;
	margin-bottom: 68px;
}

.btn-company {
	width: 260px;
  padding-left: 5px;
  letter-spacing: 3.5px;
}

.catalog-page .main-footer {
	font-family: "open_sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
}

.main-footer {
	margin-top: 90px;
	padding-top: 60px;
	padding-bottom: 80px;
	color: #ffffff;
	background-color: #464646;
}

.main-footer .container {
	display: flex;
  padding: 0;
}

.address-footer-wrapper {
  position: relative;
	flex-basis: 205px;
	margin-right: 160px;
}

.address-footer-wrapper::after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 2px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-logo {
  display: block;
  margin-top: 5px;
  opacity: 1;
}

.footer-logo:hover {
	opacity: 0.6;
}

.footer-logo:active {
	opacity: 0.3;
}

.footer-address {
	margin: 0;
	margin-top: 25px;
}

.footer-navigation-wrapper {
	flex-basis: 440px;
	align-self: center;
  margin-top: 20px;
}

.footer-navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 0;
  margin-top: 20px;
  margin-bottom: 63px;
	padding: 0;
	list-style: none;
}

.footer-navigation a {
	font-family: "gilroy", "Arial", sans-serif;
	font-size: 18px;
  line-height: 21px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 4.5px;
	color: rgb(255, 255, 255);
}

.footer-user-sign-in path,
.footer-user-compare rect,
.footer-user-basket path {
  fill: #ffc600;
}

.footer-user:hover {
	opacity: 0.6;
}

.footer-user:active{
	opacity: 0.3;
}

.footer-social {
  width: 160px;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
  margin-left: 140px;
	padding: 0;
	list-style: none;
}

.footer-social li {
  margin-right: 23px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.social-btn {
  position: relative;
  display: block;
}

.social-btn::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-btn-fb::before {
  top: -3px;
  left: 7px;
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.social-btn-inst::before {
  top: -3px;
  left: 39px;
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
}

.social-btn-twi::before {
  top: -3px;
  left: 70px;
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.social-btn:hover {
	opacity: 0.6;
}

.social-btn:active {
	opacity: 0.1;
}

.for-user-wrapper {
	flex-basis: 325px;
	margin-left: 30px;
}

.footer-user-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 325px;
	margin: 0;
	margin-bottom: 33px;
	padding: 0;
	list-style: none;
}

.footer-user-sign-in {
	margin-right: auto;
}

.footer-user-compare {
	margin-left: auto;
}

.footer-user {
	line-height: 36px;
	color: rgba(255, 255, 255, 0.7);
}

.footer-user:hover {
	color: rgb(255, 255, 255);
}

.footer-user:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-user-sign-in svg {
  margin-right: 13px;
}

.footer-user-compare svg {
	margin-right: 10px;
}

.footer-user-basket svg {
	margin-right: 6px;
}

.footer-phone {
	width: 165px;
	margin: 0;
	margin-left: auto;
}

.logo-academy-wrapper {
	width: 28px;
	height: 36px;
	margin-top: 60px;
	margin-left: auto;
}

.logo-academy {
	opacity: 1;
}

.logo-academy:hover {
	opacity: 0.6;
}

.logo-academy:active {
	opacity: 0.3;
}

.modal {
	position: fixed;
	display: none;
	color: #000000;
	background-color: #ffffff;
	z-index: 200;
}

.modal-feedback {
	top: 50%;
	left: 50%;
	width: 960px;
	margin-left: -480px;
	margin-top: -260px;
	padding: 95px 100px;
	box-shadow: 0 20px 40px rgba(4, 6, 6, 0.75);
}
.modal-close {
	position: absolute;
	top: 22px;
	right: 22px;
	width: 55px;
	height: 55px;
	font-size: 0;
	background-color: rgba(240, 197, 46, 0.5);
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 24px;
	left: 12px;
	width: 30px;
	height: 3px;
	background-color: #ffffff;
}

.modal-close::before {
	transform: rotate(-45deg)
}

.modal-close::after {
	transform: rotate(45deg);
}

.form-feedback {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.feedback-item {
  display: flex;
  flex-direction: column;
	margin: 0;
	margin-bottom: 40px;
}

.feedback-item:last-of-type {
	margin: 0;
	margin-bottom: 55px;
}

.modal-feedback label {
	margin-bottom: 5px;
	font-family: "gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 900;
}

.modal-feedback input[type="text"],
.modal-feedback textarea {
	box-sizing: border-box;
	padding: 14px 17px;
	font-family: "open_sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
}

.modal-feedback textarea {
	width: 760px;
	min-height: 155px;
}

.modal-feedback input[type="text"] {
	width: 360px;
}

.feedback-item input:-ms-input-placeholder {
	color: rgba(70, 70, 70, 0.4);
}

.feedback-item input::-ms-input-placeholder {
	color: rgba(70, 70, 70, 0.4);
}

.feedback-item input::placeholder {
	color: rgba(70, 70, 70, 0.4);
}

.feedback-item textarea:-ms-input-placeholder {
	color: rgba(70, 70, 70, 0.4);
}

.feedback-item textarea::-ms-input-placeholder {
	color: rgba(70, 70, 70, 0.4);
}

.feedback-item textarea::placeholder {
	color: rgba(70, 70, 70, 0.4);
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
	background-color: #eaeaea;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
	outline: 0;
	border-color: #f7e296;
	background-color: transparent;
}

.modal-feedback input:invalid,
.modal-feedback textarea:invalid {
	background-color: #f6dada;
}

.btn-feedback {
	width: 200px;
  letter-spacing: 3.5px;
}

.modal-map {
	left: 50%;
	bottom: 380px;
	width: 960px;
	height: 559px;
	margin-left: -480px;
	margin-bottom: -330px;
	background-color: #e9e9e9;
}

.modal-map p {
	margin: 0;
}

.modal-map img {
	box-shadow: 0 20px 40px rgba(4, 6, 6, 0.2);
}