@font-face {
    font-family: "gilroylight";
    src: url('gilroylight-webfont.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gilroyextrabold";
    src: url('gilroyextrabold-webfont.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "open_sansregular";
    src: url('opensans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "open_sanslight";
    src: url('opensans-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body {
	margin: 0;
	padding: 0;
	font-family: "open_sanslight", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.catalog-page{
	font-family: "gilroyextrabold", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: rgb(0, 0, 0);
}

.main-header {
	font-size: 15px;
	line-height: 36px;
	color: #000000;
	background-color: #f7e296;
}

.catalog-page .main-header{
	font-family: "open_sanslight", "Arial", sans-serif;
	font-weight: normal;
}

.header-logo img {
	opacity: 1;
}

.header-logo:hover img {
	opacity: 0.6;
}

.header-logo:active img {
	opacity: 0.3;
}

.header-search input {
	font: inherit;
	color: rgba(0, 0, 0, 0.3);
	background-color: transparent;
	border: none;
}

.header-search input:hover {
	font: inherit;
	color: rgba(0, 0, 0, 0.6);
	background-color: transparent;
	border: none;
}

.header-search input:focus {
	font: inherit;
	color: rgba(0, 0, 0, 1);
	background-color: transparent;
	border-bottom: 2px solid #000000;
}

.header-button{
	font: inherit;
	background-color: transparent;
	border: 2px solid #000000;
}

.header-button:hover{
	font: inherit;
	color: rgb(255, 255, 255);
	background-color: #000000;
	border: 2px solid #000000;
}

.header-button:active{
	font: inherit;
	color: rgb(255, 255, 255, 0.3);
	background-color: #000000;
	border: 2px solid #000000;
}

.user-navigation,
.site-navigation,
.catalog-menu {
	list-style: none;
}

.user-navigation a,
.site-navigation a {
	color: rgb(0, 0, 0);
}

.user-navigation a:hover,
.site-navigation a:hover,
.navigation-element:hover {
	color: rgb(0, 20, 0, 0.6);
}

.user-navigation a:active,
.site-navigation a:active,
.navigation-element:active {
	color: rgb(0, 20, 0, 0.3);
}

.navigation-element{
	font-family: "gilroyextrabold", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.page-title{
	font-size: 47px;
}

.breadcrumbs{
	list-style: none;
}

.breadcrumbs a{
	font-family: "open_sanslight", "Arial", sans-serif;
	font-size: 14px;
	line-height: 36px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover{
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active{
	color: rgba(0, 0, 0, 0.1);
}

.section-title{
	font-size: 16px;
	text-transform: uppercase;
}

.filter-products{
	background-color: #e6e6e6;
}

.form-filter{
	background-color: #efefef;
}

.range-description{
	font-family: "gilroylight", "Arial", sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.2);
}

.filter-item label{
	font-family: "open_sanslight", "Arial", sans-serif;
	font-size: 14px;
	line-height: 40px;
	font-weight: normal;
	color: rgba(0, 0, 0);
}

.sort-catalog{
	background-color: #f2f2f2;
}

.sort-list{
	list-style: none;
}

.sort-list a{
	font-family: "open_sansregular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.3);
}

.sort-list a:hover{
	color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active{
	color: rgb(0, 0, 0);
}

.sort-current a{
	color: rgb(0, 0, 0);
}

.products-list{
	list-style: none;
}

.item-title a{
	color: #000000;
}

.item-price{
	font-family: "gilroylight", "Arial", sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #464646;
}

.hover-link{
	font-size: 13px;
	line-height: 36px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.5);
}

.hover-link:hover{
	color: rgb(0, 0, 0);
}

.hover-link:active{
	color: rgba(0, 0, 0, 0.2);
}

.pagination-list{
	list-style: none;
}

.pagination-item {
	font-size: 16px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
}

.item-prev,
.item-current,
.item-next{
	color: rgb(0, 0, 0);
}

.item-prev:hover,
.item-next:hover{
	background-color: #d9d9d9;
}

.item-prev:active,
.item-next:active{
	color: rgba(0, 0, 0, 0.3);
}

.popular-products-slider{
	color: #000000;
	background-color: #ffffff;
}

.radio-list,
.slider-switches{
	list-style: none;
}

.product-slide-title{
	font-family: "gilroyextrabold", "Arial", sans-serif;
	font-size: 47px;
	font-weight: 700;
}

.btn{
	font-family: "gilroyextrabold", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
}

.btn:hover{
	background-color: #f0c52e;
}

.btn:hover{
	background-color: #f0c52e;
}

.btn:active{
	color: rgb(0, 0, 0, 0.3);
}

.slide-characteristics td{
	font-family: "gilroylight", "Arial", sans-serif;
	font-weight: 400;
	font-size: 36px;
}

.slide-characteristics th{
	font-size: 13px;
	line-height: 20px;
	color: #464646;
}

.catalog-list {
	list-style: none;
}

.catalog-item img{
	background-color: #f7e296;
}

.catalog-item:hover{
	background-color: #f0c52e;
}

.catalog-item img{
	opacity: 1;
}

.catalog-item:active{
	opacity: 0.3;
}

.catalog-item a{
	font-family: "gilroyextrabold", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #000000;
}

.services-radio-list,
.services-slider-switches,
.services-slides-list{
	list-style: none;
}

.our-services-slider{
	background-color: #e5e5e5;
}

.services-btn{
	border: none;
}

.services-btn:active{
	color: #f7e184;
	background-color: #000000;
}

.services-slide-title,
.info-title {
	font-family: "gilroyextrabold", "Arial", sans-serif;
	font-size: 47px;
	color: #000000;
}

.brands-list{
	list-style: none;
}

.transport-companies{
	list-style: none;
}

.transport-companies li{
	font-family: "gilroyextrabold", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #000000;
}

.catalog-page .main-footer{
	font-family: "open_sanslight", "Arial", sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;
}

.main-footer{
	color: #ffffff;
	background-color: #464646;
}

.footer-logo {
	opacity: 1;
}

.footer-logo:hover {
	opacity: 0.6;
}

.footer-logo:active{
	opacity: 0.3;
}

.footer-navigation{
	list-style: none;
}

.footer-navigation a{
	font-family: "gilroyextrabold", "Arial", sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: rgb(255, 255, 255);
}

.footer-navigation a:hover{
	color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active{
	color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation{
	list-style: none;
}

.footer-user-navigation a{
	line-height: 36px;
	color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover {
	color: rgb(255, 255, 255);
}

.footer-user-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-social{
	list-style: none;
}

.social-btn {
	background-color: rgba(255, 255, 255, 0.3);
}

.social-btn:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.social-btn:active {
	background-color: rgba(255, 255, 255, 0.1);
}

.logo-academy{
	opacity: 1;
}

.logo-academy:hover{
	opacity: 0.6;
}

.logo-academy:active{
	opacity: 0.3;
}

.modal-feedback{
	color: #000000;
	background-color: #ffffff;
}

.modal-feedback label{
	font-family: "gilroyextrabold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
}

.modal-feedback input,
.modal-feedback textarea{
	font-family: "open_sansregular", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #464646;
	background-color: #f2f2f2;
	border: none;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
	background-color: #eaeaea;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
	background-color: transparent;
	border: 2px solid #f7e296;
}

.modal-feedback input:invalid,
.modal-feedback textarea:invalid{
	background-color: #f6dada;
}